[submodule "Desafios/Client-Server-API"]
	path = Desafios/Client-Server-API
	url = https://github.com/victor-bologna/pos-curso-go-expert-desafio-client-server-api
[submodule "Desafios/Multithreading"]
	path = Desafios/Multithreading
	url = https://github.com/victor-bologna/pos-curso-go-expert-desafio-multithreading
[submodule "Modulos-Privados"]
	path = Modulos-Privados
	url = https://github.com/victor-bologna/pos-curso-go-expert-secret-module
[submodule "Desafios/Clean-Architecture"]
	path = Desafios/Clean-Architecture
	url = https://github.com/victor-bologna/pos-curso-go-expert-desafio-clean-architecture
[submodule "Desafios/Cloud-Run"]
	path = Desafios/Cloud-Run
	url = https://github.com/victor-bologna/pos-curso-go-expert-desafio-cloud-run
[submodule "Desafios/Open-Telemetry"]
	path = Desafios/Open-Telemetry
	url = https://github.com/victor-bologna/pos-curso-go-expert-desafio-open-telemetry
