<!doctype html>
<html lang="en">
  <head>
    <title>This is the title of the webpage!</title>
  </head>
  <body>
    <h1>Cursos por carga horária</h1>
    <table>
        <thead>
            <tr>Nome</tr>
            <tr>Horas</tr>
        </thead>
        <tbody>
            {{ range .}}
                {{ if gt .CargaHoraria 200}}
                <tr>
                    <td>Nome: {{ .Nome }}</td>
                    <td>Carga Horária: {{ .CargaHoraria }}</td>
                </tr>
                {{ end }}
            {{ end }}
        </tbody>
    </table>
  </body>
</html>